# Analiza Olimpijskih Igra 2024

- Da li zemlje sa višim GDP-om osvajaju više medalja?
 - Da li su sportovi sa većim ulaganjima (skupi sportovi) koncentrisani u
ekonomski jacim zemljama (visok GDP po blavi stanovnika), dok su jeftini sportovi
uspešni u ekonomski slabijim zemljama?

- U skupe sportove spadaju: golf, jedrenje, konjički sportovi, tenis, biciklizam
- U jeftine sportove spadaju: atletika, boks, džudo, tekvondo i rvanje

## Prikupljanje podataka

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from requests import get

In [2]:
pd.set_option("display.max_rows",None)

In [3]:
url = 'https://www.worldometers.info/gdp/gdp-by-country/'
request = get(url)

In [4]:
#request.text

In [5]:
soup_data = BeautifulSoup(request.text, 'html.parser')
country = []
gdp = []
population = []
gdp_per_capita = []
i = 1
for td in soup_data.find_all("td"):
    #print(td.text,i)
    if i%8 ==2:
        country.append(td.text)
    if i%8 ==3:
        gdp.append(td.text)
    if i%8 ==6:
        population.append(td.text)
    if i%8 ==7:
        gdp_per_capita.append(td.text)
    i+=1

In [6]:
country_table = pd.DataFrame(data = {'country':country,'gdp' : gdp,'population':population,'gdp_per_capita':gdp_per_capita})
country_table.head()

         country                  gdp     population gdp_per_capita
0  United States  $25,462,700,000,000    341,534,046        $74,554
1          China  $17,963,200,000,000  1,425,179,569        $12,604
2          Japan   $4,231,140,000,000    124,997,578        $33,850
3        Germany   $4,072,190,000,000     84,086,227        $48,429
4          India   $3,385,090,000,000  1,425,423,212         $2,375

In [7]:
country_table.shape

(177, 4)

In [8]:
medals = pd.read_csv('medals.csv')
medals.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy
2,Bronze Medal,3.0,2024-07-27,Wout van AERT,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147,BEL,Belgium,Belgium
3,Gold Medal,1.0,2024-07-27,Grace BROWN,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173,AUS,Australia,Australia
4,Silver Medal,2.0,2024-07-27,Anna HENDERSON,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525,GBR,Great Britain,Great Britain

In [9]:
medals.columns

Index(['medal_type', 'medal_code', 'medal_date', 'name', 'gender',
       'discipline', 'event', 'event_type', 'url_event', 'code',
       'country_code', 'country', 'country_long'],
      dtype='object')

## Čišćenje tabele medals

In [10]:
medals.isna().sum()

medal_type      0
medal_code      1
medal_date      0
name            0
gender          0
discipline      0
event           0
event_type      0
url_event       9
code            0
country_code    0
country         0
country_long    0
dtype: int64

In [11]:
medals[medals['medal_code'].isnull()]

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
469,Bronze Medal,NaN,2024-08-04,Gregoria Mariska TUNJUNG,W,Badminton,Women's Singles,HATH,/en/paris-2024/results/badminton/women-s-singl...,1926315,INA,Indonesia,Indonesia

In [12]:
medals['medal_code'] = medals['medal_code'].fillna(3)

In [13]:
medals.isna().sum()

medal_type      0
medal_code      0
medal_date      0
name            0
gender          0
discipline      0
event           0
event_type      0
url_event       9
code            0
country_code    0
country         0
country_long    0
dtype: int64

In [14]:
medals[medals.duplicated(keep=False)]

Empty DataFrame
Columns: [medal_type, medal_code, medal_date, name, gender, discipline, event, event_type, url_event, code, country_code, country, country_long]
Index: []

In [15]:
medals['medal_type'].value_counts()

Bronze Medal    385
Silver Medal    330
Gold Medal      329
Name: medal_type, dtype: int64

In [16]:
groups = medals.groupby(['discipline','event','medal_type']).size().reset_index(name = 'group_size')

In [17]:
groups[groups['group_size']>1]

              discipline                      event    medal_type  group_size
27   Artistic Gymnastics       Men's Horizontal Bar  Bronze Medal           2
192            Athletics          Women's High Jump  Bronze Medal           2
240               Boxing                Men's +92kg  Bronze Medal           2
243               Boxing                 Men's 51kg  Bronze Medal           2
246               Boxing                 Men's 57kg  Bronze Medal           2
249               Boxing               Men's 63.5kg  Bronze Medal           2
252               Boxing                 Men's 71kg  Bronze Medal           2
255               Boxing                 Men's 80kg  Bronze Medal           2
258               Boxing                 Men's 92kg  Bronze Medal           2
261               Boxing               Women's 50kg  Bronze Medal           2
264               Boxing               Women's 54kg  Bronze Medal           2
267               Boxing               Women's 57kg  Bronze Medal           2
270               Boxing               Women's 60kg  Bronze Medal           2
273               Boxing               Women's 66kg  Bronze Medal           2
276               Boxing               Women's 75kg  Bronze Medal           2
324         Canoe Sprint  Women's Kayak Double 500m  Bronze Medal           2
501                 Judo                Men +100 kg  Bronze Medal           2
504                 Judo                Men -100 kg  Bronze Medal           2
507                 Judo                 Men -60 kg  Bronze Medal           2
510                 Judo                 Men -66 kg  Bronze Medal           2
513                 Judo                 Men -73 kg  Bronze Medal           2
516                 Judo                 Men -81 kg  Bronze Medal           2
519                 Judo                 Men -90 kg  Bronze Medal           2
522                 Judo                 Mixed Team  Bronze Medal           2
525                 Judo               Women +78 kg  Bronze Medal           2
528                 Judo               Women -48 kg  Bronze Medal           2
531                 Judo               Women -52 kg  Bronze Medal           2
534                 Judo               Women -57 kg  Bronze Medal           2
537                 Judo               Women -63 kg  Bronze Medal           2
540                 Judo               Women -70 kg  Bronze Medal           2
543                 Judo               Women -78 kg  Bronze Medal           2
721             Swimming    Men's 100m Breaststroke  Silver Medal           2
836            Taekwondo                  Men +80kg  Bronze Medal           2
839            Taekwondo                  Men -58kg  Bronze Medal           2
842            Taekwondo                  Men -68kg  Bronze Medal           2
845            Taekwondo                  Men -80kg  Bronze Medal           2
848            Taekwondo                Women +67kg  Bronze Medal           2
851            Taekwondo                Women -49kg  Bronze Medal           2
854            Taekwondo                Women -57kg  Bronze Medal           2
857            Taekwondo                Women -67kg  Bronze Medal           2
932            Wrestling      Men's Freestyle 125kg  Bronze Medal           2
935            Wrestling       Men's Freestyle 57kg  Bronze Medal           2
938            Wrestling       Men's Freestyle 65kg  Bronze Medal           2
941            Wrestling       Men's Freestyle 74kg  Bronze Medal           2
944            Wrestling       Men's Freestyle 86kg  Bronze Medal           2
947            Wrestling       Men's Freestyle 97kg  Bronze Medal           2
950            Wrestling    Men's Greco-Roman 130kg  Bronze Medal           2
953            Wrestling     Men's Greco-Roman 60kg  Bronze Medal           2
956            Wrestling     Men's Greco-Roman 67kg  Bronze Medal           2
959            Wrestling     Men's Greco-Roman 77kg  Bronze Medal           2
962            Wrestling     Men's Greco-Roman 87kg  Bronze Medal           2
965            Wrestling     Men's Greco-Roman 97kg  Bronze Medal           2
968            Wrestling     Women's Freestyle 50kg  Bronze Medal           2
971            Wrestling     Women's Freestyle 53kg  Bronze Medal           2
974            Wrestling     Women's Freestyle 57kg  Bronze Medal           2
977            Wrestling     Women's Freestyle 62kg  Bronze Medal           2
980            Wrestling     Women's Freestyle 68kg  Bronze Medal           2
983            Wrestling     Women's Freestyle 76kg  Bronze Medal           2

In [18]:
medals['country'].unique().size

92

## Normalizacija kolone 'country'

In [19]:
medals['country'].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'China', 'Korea', 'Tunisia', 'Hong Kong, China', 'France',
       'Hungary', 'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden',
       'Fiji', 'South Africa', 'Germany', 'Canada', 'Mexico', 'Poland',
       'Egypt', 'Brazil', 'Republic of Moldova', 'Uzbekistan', 'Kosovo',
       'India', 'Türkiye', 'Slovakia', 'Ukraine', 'Azerbaijan', 'Croatia',
       'Switzerland', 'Romania', 'Ireland', 'Georgia', 'Tajikistan',
       'Slovenia', 'New Zealand', 'Serbia', 'Guatemala', 'DPR Korea',
       'Argentina', 'Greece', 'Austria', 'Netherlands', 'Ecuador',
       'Israel', 'Portugal', 'Uganda', 'Ethiopia', 'Czechia', 'AIN',
       'Philippines', 'Norway', 'Grenada', 'Jamaica', 'Saint Lucia',
       'Dominica', 'Chinese Taipei', 'Denmark', 'Lithuania', 'Armenia',
       'Algeria', 'Malaysia', 'Indonesia', 'Dominican Republic',
       'Cabo Verde', 'Cuba', 'Chile', 'Colombia', 'Kenya', 'Thailand',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'Morocco', 'Zambia', 'Cyprus',
       'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR', 'Jordan',
       'Singapore', 'Qatar', 'Puerto Rico', 'Panama', "Côte d'Ivoire",
       'Albania'], dtype=object)

In [20]:
country_table['country'].unique()

array(['United States', 'China', 'Japan', 'Germany', 'India',
       'United Kingdom', 'France', 'Russia', 'Canada', 'Italy', 'Brazil',
       'Australia', 'South Korea', 'Mexico', 'Spain', 'Indonesia',
       'Saudi Arabia', 'Netherlands', 'Turkey', 'Switzerland', 'Poland',
       'Argentina', 'Sweden', 'Norway', 'Belgium', 'Ireland', 'Israel',
       'United Arab Emirates', 'Thailand', 'Nigeria', 'Egypt', 'Austria',
       'Singapore', 'Bangladesh', 'Vietnam', 'Malaysia', 'South Africa',
       'Philippines', 'Denmark', 'Iran', 'Pakistan', 'Hong Kong',
       'Colombia', 'Romania', 'Chile', 'Czech Republic (Czechia)',
       'Finland', 'Iraq', 'Portugal', 'New Zealand', 'Peru', 'Qatar',
       'Kazakhstan', 'Greece', 'Algeria', 'Kuwait', 'Hungary', 'Ukraine',
       'Morocco', 'Ethiopia', 'Slovakia', 'Ecuador', 'Oman',
       'Dominican Republic', 'Kenya', 'Angola', 'Guatemala', 'Bulgaria',
       'Luxembourg', 'Uzbekistan', 'Azerbaijan', 'Panama', 'Tanzania',
       'Sri Lanka', 'Ghana', 'Belarus', 'Uruguay', 'Croatia', 'Lithuania',
       "Côte d'Ivoire", 'Costa Rica', 'Serbia', 'Slovenia', 'Myanmar',
       'DR Congo', 'Sudan', 'Jordan', 'Tunisia', 'Libya', 'Uganda',
       'Bahrain', 'Cameroon', 'Bolivia', 'Paraguay', 'Latvia', 'Nepal',
       'Estonia', 'El Salvador', 'Honduras', 'Papua New Guinea',
       'Cambodia', 'Zambia', 'Cyprus', 'Trinidad and Tobago', 'Iceland',
       'Senegal', 'Georgia', 'Bosnia and Herzegovina', 'Macao', 'Guinea',
       'Gabon', 'Zimbabwe', 'Botswana', 'Haiti', 'Armenia',
       'State of Palestine', 'Burkina Faso', 'Albania', 'Mali',
       'Mozambique', 'Malta', 'Benin', 'Jamaica', 'Mongolia', 'Brunei ',
       'Laos', 'Nicaragua', 'Guyana', 'Madagascar', 'Congo', 'Moldova',
       'Niger', 'North Macedonia', 'Rwanda', 'Malawi', 'Mauritius',
       'Bahamas', 'Chad', 'Namibia', 'Equatorial Guinea', 'Kyrgyzstan',
       'Tajikistan', 'Mauritania', 'Togo', 'Maldives', 'Montenegro',
       'Barbados', 'Fiji', 'Eswatini', 'Liberia', 'Sierra Leone',
       'Suriname', 'Andorra', 'Timor-Leste', 'Burundi', 'Belize',
       'Lesotho', 'Central African Republic', 'Cabo Verde', 'Gambia',
       'Saint Lucia', 'Antigua and Barbuda', 'Guinea-Bissau',
       'Solomon Islands', 'Seychelles', 'Grenada', 'Comoros', 'Vanuatu',
       'Saint Kitts & Nevis', 'St. Vincent & Grenadines', 'Samoa',
       'Dominica', 'Sao Tome & Principe', 'Micronesia',
       'Marshall Islands', 'Kiribati', 'Tuvalu'], dtype=object)

In [21]:
for cnt in medals['country'].unique():
    if cnt not in country_table['country'].unique():
        print(cnt)

Great Britain
Korea
Hong Kong, China
Republic of Moldova
Kosovo
Türkiye
DPR Korea
Czechia
AIN
Chinese Taipei
Cuba
IR Iran
EOR
Puerto Rico

Great Britain --> United Kingdom 
Korea --> South Korea 
Hong Kong, China 
Republic of Moldova --> Moldova 
Kosovo 
AIN 
Chinese Taipei 
Cuba 
DPR Korea --> North Korea 
IR Iran --> Iran 
Türkiye --> Turkey 
Czechia --> Czech Republic (Czechia) 
Puerto Rico

In [22]:
replace_values = {"Great Britain": "United Kingdom", "Korea": "South Korea", "Republic of Moldova": "Moldova", 
                  "DPR Korea": "North Korea","IR Iran":"Iran","Türkiye": "Turkey",}
medals = medals.replace({'country':replace_values})

In [23]:
country_table['country'] = country_table['country'].replace('Czech Republic (Czechia)','Czechia')

In [24]:
country_table.loc[len(country_table.index)] = ['Cuba','$107,352,000,000','11,176,354','$7,252']

In [25]:
to_delete = []
for cnt in medals['country'].unique():
    if cnt not in country_table['country'].unique():
        to_delete.append(cnt)

In [26]:
medals = medals[~medals.country.isin(to_delete)]

## Čišćenje tabele country

In [27]:
country_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         178 non-null    object
 1   gdp             178 non-null    object
 2   population      178 non-null    object
 3   gdp_per_capita  178 non-null    object
dtypes: object(4)
memory usage: 7.0+ KB

In [28]:
country_table.head()

         country                  gdp     population gdp_per_capita
0  United States  $25,462,700,000,000    341,534,046        $74,554
1          China  $17,963,200,000,000  1,425,179,569        $12,604
2          Japan   $4,231,140,000,000    124,997,578        $33,850
3        Germany   $4,072,190,000,000     84,086,227        $48,429
4          India   $3,385,090,000,000  1,425,423,212         $2,375

In [29]:
country_table.gdp = country_table.gdp.str.replace('$','')
country_table.gdp = country_table.gdp.str.replace(',','')

C:\Users\m.slijepcevic\AppData\Local\Temp\ipykernel_15916\3007408281.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  country_table.gdp = country_table.gdp.str.replace('$','')

In [30]:
country_table.gdp_per_capita = country_table.gdp_per_capita.str.replace('$','')
country_table.gdp_per_capita = country_table.gdp_per_capita.str.replace(',','')

C:\Users\m.slijepcevic\AppData\Local\Temp\ipykernel_15916\1854651175.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  country_table.gdp_per_capita = country_table.gdp_per_capita.str.replace('$','')

In [31]:
country_table.population = country_table.population.str.replace(',','')

In [32]:
country_table.gdp = country_table.gdp.astype(float)
country_table.gdp_per_capita = country_table.gdp_per_capita.astype(float)
country_table.population = country_table.population.astype(float)

In [33]:
country_table.head()

         country           gdp    population  gdp_per_capita
0  United States  2.546270e+13  3.415340e+08         74554.0
1          China  1.796320e+13  1.425180e+09         12604.0
2          Japan  4.231140e+12  1.249976e+08         33850.0
3        Germany  4.072190e+12  8.408623e+07         48429.0
4          India  3.385090e+12  1.425423e+09          2375.0

In [34]:
country_table.to_csv('country_for_analysis.csv')

In [35]:
medals.to_csv('medals_for_analysis.csv')

## Analiza podataka

### GDP i broj medalja

In [36]:
medals_grouped = medals.groupby(['country']).size().reset_index(name = 'count')

In [37]:
medals_grouped.head()

     country  count
0    Albania      2
1    Algeria      3
2  Argentina      3
3    Armenia      4
4  Australia     53

In [38]:
medals_grouped

               country  count
0              Albania      2
1              Algeria      3
2            Argentina      3
3              Armenia      4
4            Australia     53
5              Austria      5
6           Azerbaijan      7
7              Bahrain      4
8              Belgium     10
9             Botswana      2
10              Brazil     20
11            Bulgaria      7
12          Cabo Verde      1
13              Canada     27
14               Chile      2
15               China     91
16            Colombia      4
17             Croatia      7
18                Cuba      9
19              Cyprus      1
20             Czechia      5
21       Côte d'Ivoire      1
22             Denmark      9
23            Dominica      1
24  Dominican Republic      3
25             Ecuador      5
26               Egypt      3
27            Ethiopia      4
28                Fiji      1
29              France     64
30             Georgia      7
31             Germany     33
32              Greece      8
33             Grenada      2
34           Guatemala      2
35             Hungary     19
36               India      6
37           Indonesia      3
38                Iran     12
39             Ireland      7
40              Israel      7
41               Italy     40
42             Jamaica      6
43               Japan     45
44              Jordan      1
45          Kazakhstan      7
46               Kenya     11
47          Kyrgyzstan      6
48           Lithuania      4
49            Malaysia      2
50              Mexico      5
51             Moldova      4
52            Mongolia      1
53             Morocco      2
54         Netherlands     34
55         New Zealand     20
56              Norway      8
57            Pakistan      1
58              Panama      1
59                Peru      1
60         Philippines      4
61              Poland     10
62            Portugal      4
63               Qatar      1
64             Romania      9
65         Saint Lucia      2
66              Serbia      5
67           Singapore      1
68            Slovakia      1
69            Slovenia      3
70        South Africa      6
71         South Korea     32
72               Spain     18
73              Sweden     11
74         Switzerland      8
75          Tajikistan      3
76            Thailand      6
77             Tunisia      3
78              Turkey      8
79              Uganda      2
80             Ukraine     12
81      United Kingdom     65
82       United States    126
83          Uzbekistan     13
84              Zambia      1

In [39]:
merged = medals_grouped.merge(country_table, how = 'inner', on = 'country')
merged.head()

     country  count           gdp  population  gdp_per_capita
0    Albania      2  1.888210e+10   2827608.0          6678.0
1    Algeria      3  1.919130e+11  45477389.0          4220.0
2  Argentina      3  6.327700e+11  45407904.0         13935.0
3    Armenia      4  1.950278e+10   2880874.0          6770.0
4  Australia     53  1.675420e+12  26200984.0         63945.0

In [40]:
numeric = merged.select_dtypes(include = 'number')
numeric.corr()

                   count       gdp  population  gdp_per_capita
count           1.000000  0.858858    0.392787        0.341684
gdp             0.858858  1.000000    0.570042        0.229968
population      0.392787  0.570042    1.000000       -0.102252
gdp_per_capita  0.341684  0.229968   -0.102252        1.000000

In [41]:
merged['medals per gdp'] = round(merged['count']*100000000000/merged['gdp'])
merged.sort_values(by = 'medals per gdp',ascending = False).reset_index()

,index,country,count,gdp,population,gdp_per_capita,medals per gdp
0,23,Dominica,1,6.120481e+08,6.682600e+04,9159.0,163.0
1,33,Grenada,2,1.256413e+09,1.169130e+05,10747.0,159.0
2,65,Saint Lucia,2,2.065028e+09,1.787810e+05,11551.0,97.0
3,47,Kyrgyzstan,6,1.093064e+10,6.955788e+06,1571.0,55.0
4,12,Cabo Verde,1,2.314817e+09,5.197410e+05,4454.0,43.0
5,42,Jamaica,6,1.709776e+10,2.839144e+06,6022.0,35.0
6,75,Tajikistan,3,1.049212e+10,1.018222e+07,1030.0,29.0
7,51,Moldova,4,1.442095e+10,3.039985e+06,4744.0,28.0
8,30,Georgia,7,2.460538e+10,3.794784e+06,6484.0,28.0
9,3,Armenia,4,1.950278e+10,2.880874e+06,6770.0,21.0
10,28,Fiji,1,4.943248e+09,9.194220e+05,5376.0,20.0
11,83,Uzbekistan,13,8.039185e+10,3.493896e+07,2301.0,16.0
12,35,Hungary,19,1.787890e+11,9.684306e+06,18462.0,11.0
13,0,Albania,2,1.888210e+10,2.827608e+06,6678.0,11.0
14,46,Kenya,11,1.134200e+11,5.425246e+07,2091.0,10.0
15,9,Botswana,2,2.035232e+10,2.439892e+06,8341.0,10.0
16,17,Croatia,7,7.096461e+10,3.907027e+06,18163.0,10.0
17,6,Azerbaijan,7,7.872106e+10,1.029530e+07,7646.0,9.0
18,7,Bahrain,4,4.439082e+10,1.533459e+06,28948.0,9.0
19,55,New Zealand,20,2.472340e+11,5.131734e+06,48177.0,8.0
20,11,Bulgaria,7,8.904040e+10,6.825864e+06,13045.0,8.0
21,66,Serbia,5,6.350175e+10,6.791213e+06,9351.0,8.0
22,18,Cuba,9,1.073520e+11,1.117635e+07,7252.0,8.0
23,80,Ukraine,12,1.605030e+11,4.104877e+07,3910.0,7.0
24,48,Lithuania,4,7.033430e+10,2.816919e+06,24969.0,6.0
25,52,Mongolia,1,1.681088e+10,3.386015e+06,4965.0,6.0
26,77,Tunisia,3,4.666495e+10,1.211933e+07,3850.0,6.0
27,69,Slovenia,3,6.211777e+10,2.115228e+06,29367.0,5.0
28,79,Uganda,2,4.555920e+10,4.731272e+07,963.0,4.0
29,25,Ecuador,5,1.150490e+11,1.782390e+07,6455.0,4.0
30,19,Cyprus,1,2.843905e+10,1.331370e+06,21361.0,4.0
31,32,Greece,8,2.190660e+11,1.041248e+07,21039.0,4.0
32,38,Iran,12,3.885440e+11,8.952425e+07,4340.0,3.0
33,4,Australia,53,1.675420e+12,2.620098e+07,63945.0,3.0
34,45,Kazakhstan,7,2.206230e+11,2.003461e+07,11012.0,3.0
35,84,Zambia,1,2.978445e+10,2.015294e+07,1478.0,3.0
36,27,Ethiopia,4,1.267830e+11,1.253843e+08,1011.0,3.0
37,54,Netherlands,34,9.911150e+11,1.790442e+07,55356.0,3.0
38,24,Dominican Republic,3,1.136420e+11,1.123073e+07,10119.0,3.0
39,64,Romania,9,3.012620e+11,1.916677e+07,15718.0,3.0
40,71,South Korea,32,1.665250e+12,5.178251e+07,32159.0,2.0
41,44,Jordan,1,4.745150e+10,1.125626e+07,4216.0,2.0
42,62,Portugal,4,2.519450e+11,1.041707e+07,24186.0,2.0
43,1,Algeria,3,1.919130e+11,4.547739e+07,4220.0,2.0
44,81,United Kingdom,65,3.070670e+12,6.817932e+07,45038.0,2.0
45,73,Sweden,11,5.859390e+11,1.048734e+07,55871.0,2.0
46,8,Belgium,10,5.786040e+11,1.164182e+07,49700.0,2.0
47,20,Czechia,5,2.909240e+11,1.067321e+07,27257.0,2.0
48,34,Guatemala,2,9.500333e+10,1.784788e+07,5323.0,2.0
49,41,Italy,40,2.010430e+12,5.961912e+07,33721.0,2.0
50,29,France,64,2.782910e+12,6.627741e+07,41989.0,2.0
51,22,Denmark,9,3.954040e+11,5.902904e+06,66985.0,2.0
52,78,Turkey,8,9.059880e+11,8.705847e+07,10407.0,1.0
53,5,Austria,5,4.714000e+11,9.064677e+06,52004.0,1.0
54,76,Thailand,6,4.953410e+11,7.173533e+07,6905.0,1.0
55,68,Slovakia,1,1.154690e+11,5.473197e+06,21097.0,1.0
56,70,South Africa,6,4.058700e+11,6.237841e+07,6507.0,1.0
57,61,Poland,10,6.881770e+11,3.838574e+07,17928.0,1.0
58,72,Spain,18,1.397510e+12,4.782838e+07,29219.0,1.0
59,74,Switzerland,8,8.077060e+11,8.792182e+06,91866.0,1.0
60,14,Chile,2,3.010250e+11,1.955304e+07,15395.0,1.0
61,60,Philippines,4,4.042840e+11,1.139643e+08,3547.0,1.0
62,43,Japan,45,4.231140e+12,1.249976e+08,33850.0,1.0
63,16,Colombia,4,3.439390e+11,5.173794e+07,6648.0,1.0
64,21,Côte d'Ivoire,1,7.001872e+10,3.039500e+07,2304.0,1.0
65,13,Canada,27,2.139840e+12,3.882126e+07,55120.0,1.0
66,26,Egypt,3,4.767480e+11,1.126182e+08,4233.0,1.0
67,10,Brazil,20,1.920100e+12,2.103064e+08,9130.0,1.0
68,31,Germany,33,4.072190e+12,8.408623e+07,48429.0,1.0
69,40,Israel,7,5.220330e+11,9.103151e+06,57346.0,1.0
70,39,Ireland,7,5.292450e+11,5.110016e+06,103570.0,1.0
71,15,China,91,1.796320e+13,1.425180e+09,12604.0,1.0
72,53,Morocco,2,1.341820e+11,3.732906e+07,3595.0,1.0
73,56,Norway,8,5.792670e+11,5.456801e+06,106155.0,1.0
74,58,Panama,1,7.652251e+10,4.400773e+06,17388.0,1.0
75,50,Mexico,5,1.414190e+12,1.286131e+08,10996.0,0.0
76,59,Peru,1,2.426320e+11,3.347544e+07,7248.0,0.0
77,37,Indonesia,3,1.319100e+12,2.788305e+08,4731.0,0.0
78,36,India,6,3.385090e+12,1.425423e+09,2375.0,0.0
79,67,Singapore,1,4.667890e+11,5.649885e+06,82619.0,0.0
80,57,Pakistan,1,3.765330e+11,2.437007e+08,1545.0,0.0
81,63,Qatar,1,2.372960e+11,2.892455e+06,82040.0,0.0
82,82,United States,126,2.546270e+13,3.415340e+08,74554.0,0.0
83,2,Argentina,3,6.327700e+11,4.540790e+07,13935.0,0.0
84,49,Malaysia,2,4.063060e+11,3.469549e+07,11711.0,0.0

In [42]:
merged.describe()

            count           gdp    population  gdp_per_capita  medals per gdp
count   85.000000  8.500000e+01  8.500000e+01       85.000000       85.000000
mean    11.964706  1.068165e+12  7.250383e+07    22539.847059       10.741176
std     20.272810  3.395509e+12  2.199779e+08    25479.218301       27.256783
min      1.000000  6.120481e+08  6.682600e+04      963.000000        0.000000
25%      2.000000  6.350175e+10  5.456801e+06     4965.000000        1.000000
50%      5.000000  2.372960e+11  1.211933e+07    10996.000000        2.000000
75%     10.000000  5.792670e+11  5.173794e+07    29367.000000        8.000000
max    126.000000  2.546270e+13  1.425423e+09   106155.000000      163.000000

In [43]:
gdp_bins = [0,60000000000,200000000000,600000000000, float('inf')]
gdp_labels = ['Low GDP','Lower Middle GDP','Upper Middle GDP','High GDP']

merged['GDP category'] = pd.cut(merged['gdp'], bins = gdp_bins, labels = gdp_labels)
merged.head()

,country,count,gdp,population,gdp_per_capita,medals per gdp,GDP category
0,Albania,2,1.888210e+10,2827608.0,6678.0,11.0,Low GDP
1,Algeria,3,1.919130e+11,45477389.0,4220.0,2.0,Lower Middle GDP
2,Argentina,3,6.327700e+11,45407904.0,13935.0,0.0,High GDP
3,Armenia,4,1.950278e+10,2880874.0,6770.0,21.0,Low GDP
4,Australia,53,1.675420e+12,26200984.0,63945.0,3.0,High GDP

In [44]:
gdp_medal_summary = merged.groupby('GDP category')['count'].sum().reset_index()
gdp_medal_summary

       GDP category  count
0           Low GDP     54
1  Lower Middle GDP    119
2  Upper Middle GDP    153
3          High GDP    691

In [45]:
medals.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy
2,Bronze Medal,3.0,2024-07-27,Wout van AERT,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147,BEL,Belgium,Belgium
3,Gold Medal,1.0,2024-07-27,Grace BROWN,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173,AUS,Australia,Australia
4,Silver Medal,2.0,2024-07-27,Anna HENDERSON,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525,GBR,United Kingdom,Great Britain

### Skupi vs Jefrini spotovi

### Prosečan GDP po glavi stanovnika po sportu

In [47]:
medals_grouped = medals.groupby(['discipline','country']).size().reset_index(name = 'medal_count')
medals_grouped.head()

       discipline      country  medal_count
0  3x3 Basketball       France            1
1  3x3 Basketball      Germany            1
2  3x3 Basketball    Lithuania            1
3  3x3 Basketball  Netherlands            1
4  3x3 Basketball        Spain            1

In [48]:
merged_data = medals_grouped.merge(country_table, on='country', how = 'inner')
merged_data.head()

,discipline,country,medal_count,gdp,population,gdp_per_capita
0,3x3 Basketball,France,1,2.782910e+12,66277409.0,41989.0
1,Archery,France,2,2.782910e+12,66277409.0,41989.0
2,Athletics,France,1,2.782910e+12,66277409.0,41989.0
3,Basketball,France,2,2.782910e+12,66277409.0,41989.0
4,Boxing,France,3,2.782910e+12,66277409.0,41989.0

In [60]:
sport_summary = merged_data.groupby('discipline').agg(total_medals = ('medal_count','sum'), avg_gdp_per_capita = ('gdp_per_capita','mean')).reset_index()

In [61]:
sport_summary.head()

            discipline  total_medals  avg_gdp_per_capita
0       3x3 Basketball             6        45752.666667
1              Archery            15        33019.714286
2  Artistic Gymnastics            42        27667.312500
3    Artistic Swimming             6        43354.200000
4            Athletics           144        26569.976190

In [62]:
sorted_sports = sport_summary.sort_values(by = 'avg_gdp_per_capita', ascending = False)


    U skupe sportove spadaju: golf, jedrenje, konjički sportovi, tenis, biciklizam
    U jeftine sportove spadaju: atletika, boks, džudo, tekvondo i rvanje

In [63]:
sorted_sports

               discipline  total_medals  avg_gdp_per_capita
13     Cycling BMX Racing             6        63289.000000
7        Beach Volleyball             6        61095.166667
22               Handball             6        58555.400000
40              Triathlon             9        58342.166667
18             Equestrian            18        58001.333333
15           Cycling Road            12        52043.285714
30                Sailing            30        48354.736842
28                 Rowing            41        47839.533333
16          Cycling Track            36        47500.666667
6              Basketball             6        47459.750000
34                Surfing             6        47404.500000
0          3x3 Basketball             6        45752.666667
32          Skateboarding            12        45303.400000
35               Swimming           103        44988.777778
14  Cycling Mountain Bike             6        44791.800000
25      Marathon Swimming             6        43982.600000
21                   Golf             6        43775.333333
3       Artistic Swimming             6        43354.200000
10           Canoe Slalom            18        42409.700000
17                 Diving            22        42301.000000
12  Cycling BMX Freestyle             6        42010.833333
42             Water Polo             6        41764.666667
9                Breaking             6        40514.333333
29           Rugby Sevens             6        38620.500000
39  Trampoline Gymnastics             4        37587.333333
41             Volleyball             6        35464.400000
36           Table Tennis            14        35294.600000
20               Football             6        34486.000000
38                 Tennis            14        34186.200000
33         Sport Climbing            12        33759.500000
11           Canoe Sprint            31        33567.266667
27    Rhythmic Gymnastics             6        33029.000000
1                 Archery            15        33019.714286
31               Shooting            44        30341.388889
19                Fencing            34        28919.416667
2     Artistic Gymnastics            42        27667.312500
26      Modern Pentathlon             6        27402.333333
4               Athletics           144        26569.976190
23                 Hockey             6        26539.800000
24                   Judo            58        26123.000000
43          Weightlifting            28        25643.833333
5               Badminton            14        24135.000000
37              Taekwondo            32        23010.521739
8                  Boxing            47        22619.724138
44              Wrestling            69        19215.333333