# Pandas nizovi

In [16]:
import pandas as pd

## Kreiranje pandas niza iz python liste

In [2]:
predmeti = ['Matematika','Srpski','Muzicko']

In [3]:
pd.Series(predmeti)

0    Matematika
1        Srpski
2       Muzicko
dtype: object

In [4]:
fibonaci = [1,1,2,3,5,8,13]
pd.Series(fibonaci)

0     1
1     1
2     2
3     3
4     5
5     8
6    13
dtype: int64

In [5]:
prijavljen_ispit = [True,False,False, True]

In [6]:
pd.Series(prijavljen_ispit)

0     True
1    False
2    False
3     True
dtype: bool

## Kreiranje pandas niza iz python recnika

In [7]:
glavni_gradovi = {'Srbija':'Beograd','Madjarska':'Budimpesta','Austrija':'Bec'}

In [8]:
pd.Series(glavni_gradovi)

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

## Parametri i argumenti

In [10]:
gradovi = ['Beograd','Budimpesta','Bec']
drzave = ['Srbija','Madjarska','Austrija']

In [14]:
pandas_niz = pd.Series(gradovi,drzave)
pandas_niz

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

In [15]:
pd.Series(data = gradovi, index = drzave)

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

## Atributi pandas nizova

In [22]:
imena = pd.Series(['Dunja','Elena','Vukan','Marina','Elena'])
imena

0     Dunja
1     Elena
2     Vukan
3    Marina
4     Elena
dtype: object

In [18]:
imena.size

4

In [19]:
imena.shape

(4,)

In [23]:
imena.is_unique

False

In [24]:
imena.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
pandas_niz.index

Index(['Srbija', 'Madjarska', 'Austrija'], dtype='object')

In [26]:
imena.values

array(['Dunja', 'Elena', 'Vukan', 'Marina', 'Elena'], dtype=object)

In [27]:
pandas_niz.values

array(['Beograd', 'Budimpesta', 'Bec'], dtype=object)

## Metode pandas nizova

In [28]:
brojevi = pd.Series([2,7,100,0.2])
brojevi

0      2.0
1      7.0
2    100.0
3      0.2
dtype: float64

In [29]:
brojevi.sum()

np.float64(109.2)

In [30]:
brojevi.mean()

np.float64(27.3)

In [31]:
brojevi.std()

np.float64(48.551965288063606)

In [32]:
brojevi.product()

np.float64(280.0)

In [33]:
brojevi.min()

np.float64(0.2)

In [34]:
brojevi.max()

np.float64(100.0)

In [36]:
imena

0     Dunja
1     Elena
2     Vukan
3    Marina
4     Elena
dtype: object

In [35]:
imena.min()

'Dunja'

In [37]:
imena.max()

'Vukan'

## Prikaz pandas niza

In [43]:
n=20
fibonaci = [1,1]
while len(fibonaci)<=n:
    novi_clan = fibonaci[len(fibonaci)-1]+fibonaci[len(fibonaci)-2]
    fibonaci.append(novi_clan)
fibonaci_pandas= pd.Series(fibonaci)
fibonaci_pandas

0         1
1         1
2         2
3         3
4         5
5         8
6        13
7        21
8        34
9        55
10       89
11      144
12      233
13      377
14      610
15      987
16     1597
17     2584
18     4181
19     6765
20    10946
dtype: int64

In [47]:
fibonaci_pandas.head(-5)

0       1
1       1
2       2
3       3
4       5
5       8
6      13
7      21
8      34
9      55
10     89
11    144
12    233
13    377
14    610
15    987
dtype: int64

In [49]:
fibonaci_pandas.tail()

11      144
12      233
13      377
14      610
15      987
16     1597
17     2584
18     4181
19     6765
20    10946
dtype: int64

## Ucitavanje pandas niz iz csv fajla

In [51]:
imena_i_broj_df = pd.read_csv("babyNames.csv")

In [53]:
imena_i_broj_df.head()

   index  YearOfBirth       Name Sex  Number
0      0       1880.0       Mary   F  7065.0
1      1       1880.0       Anna   F  2604.0
2      2       1880.0       Emma   F  2003.0
3      3       1880.0  Elizabeth   F  1939.0
4      4       1880.0     Minnie   F  1746.0

In [50]:
imena_i_broj = pd.read_csv("babyNames.csv", usecols = ['Name','Number'], index_col = 'Name').squeeze("columns")
imena_i_broj

Name
Mary         7065.0
Anna         2604.0
Emma         2003.0
Elizabeth    1939.0
Minnie       1746.0
              ...
Dallas        411.0
Owen          411.0
Steven        409.0
Wilfred       409.0
NaN             NaN
Name: Number, Length: 44146, dtype: float64

## In

In [54]:
'Mary' in imena_i_broj

True

In [73]:
'Ivana' in imena_i_broj

False

In [63]:
20 in fibonaci_pandas

True

In [58]:
-1 in fibonaci_pandas

False

In [59]:
7065 in imena_i_broj.values

True

In [68]:
13 in fibonaci_pandas.index

True

## Loc, Iloc

In [69]:
imena_i_broj.iloc[5]

np.float64(1578.0)

In [72]:
imena_i_broj.loc['Mary']

Name
Mary     7065.0
Mary     6919.0
Mary     8148.0
Mary     8012.0
Mary     9217.0
         ...
Mary    55493.0
Mary      316.0
Mary    56921.0
Mary      303.0
Mary    55072.0
Name: Number, Length: 79, dtype: float64

In [74]:
fibonaci_pandas.iloc[5]

np.int64(8)

In [75]:
fibonaci_pandas.loc[5]

np.int64(8)

In [76]:
imena_i_broj.loc[['Mary','Nick']]

Name
Mary    7065.0
Mary    6919.0
Mary    8148.0
Mary    8012.0
Mary    9217.0
         ...
Nick     511.0
Nick     490.0
Nick     499.0
Nick     465.0
Nick     456.0
Name: Number, Length: 105, dtype: float64

## Ugradjene python funkcije

In [77]:
len(imena_i_broj)

44146

In [78]:
imena_i_broj.shape

(44146,)

In [79]:
imena_i_broj.size

44146

In [80]:
type(imena_i_broj)

pandas.core.series.Series

In [81]:
min(imena_i_broj)

100.0

In [86]:
imena_i_broj.sort_values(ascending = False)

Name
Mary        73983.0
Mary        73532.0
Mary        72170.0
Mary        71633.0
Mary        70975.0
             ...
Freddie       100.0
Sterling      100.0
Royal         100.0
Gerald        100.0
NaN             NaN
Name: Number, Length: 44146, dtype: float64

In [88]:
imena_i_broj.sort_index(ascending = False).head(10)

Name
Zula    116.0
Zula    102.0
Zula    105.0
Zula    107.0
Zula    127.0
Zula    102.0
Zula    105.0
Zora    114.0
Zora    117.0
Zora    134.0
Name: Number, dtype: float64

## Promena vrednosti pandas listi

In [104]:
zoo = pd.Series(['Slon','Zirafa','Zebra','Komarac'])

In [105]:
zoo.iloc[3] = 'Vuk'

In [106]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

In [107]:
imena_i_broj.loc['Zula'] = 1

In [108]:
imena_i_broj.sort_index(ascending = False).head(10)

Name
Zula      1.0
Zula      1.0
Zula      1.0
Zula      1.0
Zula      1.0
Zula      1.0
Zula      1.0
Zora    114.0
Zora    117.0
Zora    134.0
Name: Number, dtype: float64

## Kopiranje pandas nizova

In [109]:
copy_of_zoo = zoo.copy()

In [110]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

In [111]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

## Dodavanje novih clanova pandas nizova

In [112]:
copy_of_zoo[4] = 'Paun'

In [113]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4      Paun
dtype: object

In [114]:
copy_of_zoo[copy_of_zoo.index.max()+1] = 'Koala'

In [117]:
copy_of_zoo.head(6)

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4      Paun
5     Koala
dtype: object